
        <div class="sidebar-menu">
                <a href="<%= posts_path%>"><%= embedded_svg('twitter', class: 'brand') %></a>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('explore', class: 'sidebar-menu__item-icon') %>
                    Explore
            </div>
            <div class="logged-in-as__block">
                <div class="not-logged-in__block">
                <h4>Not logged in</h4>
                <%= link_to "Signup", signup_path%>
                <%= link_to "login", login_path%>
                </div>

            </div>
        </div>
