<div class="layout">
    <div class="layout__left-sidebar">
        <div class="contain">
        <%= render "sidebar-menu-logged-out"%>
        </div>
    </div>

<div class="layout__main">
    <div class="signup-form__wrapper">

      <h1 class="signup-form__header">Create your account</h1>

      <%= form_with(model: @user, local: true) do |f| %>
          <% if @user.errors.any? %>
           <div id="error_explanation">
              <h2 class="signup-form__error-title"><%=  pluralize(@user.errors.count, "error") %> please correct:</h2>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li class="signup-form__errors"><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

      <div class="form-group">
        <%= f.label :username %><br/>
        <%= f.text_field :username, class: "signup-form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: "signup-form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.text_field :email, class: "signup-form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :name %><br/>
        <%= f.text_field :name, class: "signup-form-control" %>
      </div>

      <div class="signup-form__terms">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">I agree <a href="#">Terms & Conditions</a></label>
      </div>
      <div class="form-group">
        <%= f.submit class: "signup-form-button", data: { turbo: false }, local: true%>
      </div>
      <div class="signup-form__member">
        Already a member?
          <%= link_to "login", login_path%>
      </div>
      <% end %>

    </div>

</div>
  <%= render "rightside-content-logged-out"%>
</div>
