
        <div class="sidebar-menu">
                <a href="<%= posts_path%>"><%= embedded_svg('twitter', class: 'brand') %></a>
            <a href="<%= posts_path%>"><div class="sidebar-menu__item sidebar-menu__item--active">
                    <%= embedded_svg('home', class: 'sidebar-menu__item-icon') %>
                    Home
            </div></a>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('explore', class: 'sidebar-menu__item-icon') %>
                    Explore
            </div>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('notifications', class: 'sidebar-menu__item-icon') %>
                    Notifications
            </div>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('messages', class: 'sidebar-menu__item-icon') %>
                    Messages
            </div>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('more', class: 'sidebar-menu__item-icon') %>
                    more
            </div>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('profile', class: 'sidebar-menu__item-icon') %>
                    Profile
            </div>
            <div class="logged-in-as__block">
                <% if logged_in? %>

                        <%= embedded_svg('noun-genders-1496720', class: 'logged-in-as__user-logo') %>
                <div class="logged-in-as__content">
                        <div>
                        <div class="logged-in-as__current-user"><%=current_user.username%></div>
                        <div class="logged-in-as__current-user-slug">@<%=current_user.username%></div>
                        </div>
                        <%= button_to "logout", logout_path, method: :delete, class: "create-tweet__submit" %>
                 </div>
                <% else %>
              <div class="not-logged-in__block">
                <h4>Not logged in</h4>
                <%= link_to "Signup", signup_path%>
                <%= link_to "login", login_path%>
                </div>
                <% end %>

            </div>
        </div>
