<h1>Bitter</h1>

<h3>A place for bile</h3>
<h3>Posts</h3>

<%= link_to "Create Post", new_post_path %>

<ul>
    <% @posts.each do |post|%>
        <%= link_to post.body, post %><br>

        <p>Username <%= find_username_by_id(post.user_id)%></p>

    <% end %>

<% if logged_in? %>
    <h4>Logged in as <%=current_user.username%></h4>
<% end %>

<li><%= link_to "Signup", signup_path%></li>
<li><%= link_to "login", login_path%></li>
 <%= button_to "logout", logout_path, method: :delete %>
