<div class="layout">
    <div class="layout__left-sidebar">
        <div class="sidebar-menu">

        <div class="sidebar-menu__item">
        <div class="icon_list">
            <ul>
                <%# </Users/alisonthomson/Myproject/twitter_clone/app/views/posts/index.html.erb> %>
                <h1>Bitter.</h1><%= embedded_svg('beer-icon', class: 'brand') %><br>
                    <%= embedded_svg('icons8-home', class: 'brand') %>
                    <%= embedded_svg('icons8-mailbox', class: 'brand') %>
                    <%= embedded_svg('icons8-search', class: 'brand') %>
                    <%= embedded_svg('icons8-bookmark', class: 'brand') %>
                    <%= embedded_svg('icons8-settings', class: 'brand') %>
            </ul>
        </div>
        </div>
       <% if logged_in? %>
            <h4>Logged in email as <%=current_user.username%><%= embedded_svg('icons8-human-head', class: 'brand') %></h4>
        <% else %>
            <h4>Not logged in</h4>
        <% end %>

        <% if !logged_in? %>
            <li><%= link_to "Signup", signup_path%></li>
            <li><%= link_to "login", login_path%></li>
        <% else %>
            <%= button_to "logout", logout_path, method: :delete %>
        <% end %>
    </div>
    </div>
    <div class="layout__main">
        <h3>Posts</h3>

        <% if logged_in? %>
            <%= link_to "Create Post", new_post_path %>
        <% end %>


        <% @posts.each do |post|%>
            <%= link_to post.body, post %><br>

            <p>email <%= find_username_by_id(post.user_id)%></p>

        <% end %>

    </div>
    <div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
            <h3>Right Sidebar</h3>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/b8d0c966b8.js" crossorigin="anonymous"></script>
