
<p><%= @post.body %></p>
<p><%= @post.created_at %></p>
<p>Username <%= find_username_by_id(@post.user_id)%></p>



<li><%= link_to "Edit", edit_post_path(@post) %></li>
<li><%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %><br>
     By <%= find_username_by_id(comment.user_id) %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<li><%= link_to "Signup", signup_path%></li>
<li><%= link_to "posts", posts_path%></li>
 <%= button_to "logout", logout_path, method: :delete %>
