<div class="layout">
    <div class="layout__left-sidebar">
        <div class="contain">
          <%= render "sidebar-menu"%>
        </div>
    </div>


    <div class="layout__main">
      <div class="home-header">
          <div class="home-header__content">
              Tweet
          </div>
      </div>
    <div class="tweet">
      <!--<%=image_tag 'cat.jpeg', :class => "tweet__author-logo" %>-->
      <%= embedded_svg('noun-genders-1496720', class: 'logged-in-as__user-logo') %>
      <div class="tweet__main">
          <div class="tweet__header">
            <div class="tweet__author-name">
                <%= find_username_by_id(@post.user_id)%>
            </div>
            <div class="tweet__author-slug">
                @<%= find_username_by_id(@post.user_id)%>
            </div>
            <div class="tweet__publish-time">
                <%= ((Time.now() - @post.created_at) / 3600).round(1)%> hours ago
            </div>
          </div>
          <div class="tweet__content">
            <%= @post.body %>
            <img class="tweet__image" src="" />
          </div>
      </div>
    </div>
     <% if current_user.username == find_username_by_id(@post.user_id)%>
        <div class="tweet">
          <div class="tweet__reply-edit-destroy">
            <%= link_to "Edit", edit_post_path(@post) %>
            <%= link_to "Destroy", post_path(@post), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                              } %>
          </div>
        </div>
    <% end %>
    <div class="home-header">
        <div class="home-header__content">
            Comments
        </div>
    </div>

<% @post.comments.reverse.each do |comment| %>
    <div class="tweet">
    <!--<%=image_tag 'cat.jpeg', :class => "tweet__author-logo" %>-->
    <%= embedded_svg('noun-genders-1496720', class: 'logged-in-as__user-logo') %>
    <div class="tweet__main">
      <div class="tweet__header">
        <div class="tweet__author-name">
          <%= find_username_by_id(comment.user_id) %>
        </div>
        <div class="tweet__author-slug">
          @<%= find_username_by_id(comment.user_id) %>
        </div>
    </div>
    <div class="tweet__content">
      <%= comment.body %>
    </div>
    </div>
    </div>
<% end %>

<%= form_with model: [ @post, @post.comments.build ] do |form| %>
<div class="create-tweet__block">
  <!--<%=image_tag 'cat.jpeg', :class => "create-tweet__form-author-logo" %>-->
  <%= embedded_svg('noun-genders-1496720', class: 'logged-in-as__user-logo') %>
    <%= form.text_area :body, placeholder: "Tweet your reply", class: "create-tweet__tweet-input" %>
</div>
    <div class="create-tweet__flex-submit">
    <%= form.submit :class => "create-tweet__submit" %>
    </div>
<% end %>

</div>
<%=render "rightside-content"%>

</div>
